@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Permanent+Marker|Signika:400,700&display=swap');

header {
  font-family: 'Signika', sans-serif;
  color: white;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: top;
  background-image: 
    linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.5)), 
    url(https://cdn.glitch.com/22d4fbc9-1017-40eb-98ec-182a14e8267b%2F11%20-%201920x1080.png?v=1580406216538);
  background-size: cover;
  Background-repeat: no-repeat;
  background-position: center;
}

h1 {
  text-align: center;
}

h2 {
  color: rgba(150,200,200)
}

main {
  font-family: 'Signika', sans-serif;
  margin: 0;
  height: 1000px;
  text-align: center;
  background: linear-gradient(rgba(0,102,102,1), rgba(0,128,129,0.5));
}

#table {
  font-family: 'Signika', sans-serif;
  color: white;
  text-align: left;
  background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.5));
  width: 250px;
  height: auto;
  margin: 9px auto;
  padding: 10px;
  border: 5px solid rgba(0,128,129,0.5);
}

h4, ol {
  margin: 9px auto;
}

h3, p, body {
  margin: 0;
}

P {
  padding: 4px;
}

ul {
  text-decoration: underline;
  color: #C0C0C0;
}